{%extends '_layout.html' %}

{% block title %}Movie Rating App | Search Movie Ratings{% endblock %}

{% block body %}
<h1 class="mb-5">Search Movie Ratings</h1>
<p class="mb-3">Search for a movie rating below</p>
<form class="mb-3" action="/movies/search" method="get">
    <div class="mb-3">
        <label for="title" class="form-label">Movie Title
        </label>
        <input type="text" name="movie-title" id="movie-title" class="form-control">
    </div>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>

{% if movie %}
<p class="mb-3">{{title}} Movie Rating: {{rating}}</p>

{% else %}
<p class="mb-3">No movie was found.</p>

{% endif %}
{% endblock %}
